# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local
.env.*.local

# Database
tareas.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log